/*----------FOOTER-------*/

footer{
    background-color: $color-foot;
    font-family:'Gruppo', cursive ;
    padding: 20px;
    display: column;
    justify-content: center;
    .redes-text{
        @extend %flex-cut;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .redes{
        @extend %flex-cut;
        padding: 10px;
        a{
            text-decoration: none;
            img{
                @include tamaño(70px, 70px, 5px);
            }
        }

}
}