/*--------HEADER-------*/

header {
    background-color: $color-nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    a {
        text-decoration: none;
        font-weight: 200;
        .foto-logo{
            width: 100px;
            padding: 10px;
        }
    }
    nav {
        ul {
            list-style: none;
            @extend %flex-cut;
            margin: 0;
            padding-left: 0;
            li {
                margin: 10px;
                font-size: 24px;
                a {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    text-align: center;
                    transition: 1s ease-in;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

}